<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #8c0aef;">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="productos">Sistema de Inventarios</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="productos" routerLinkActive="active">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" *ngIf="authService.esAdmin()" routerLink="agregar-producto">Agregar Producto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="productos">Productos</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <!-- Si no hay sesión iniciada -->
          <ng-container *ngIf="!authService.getUsuario(); else logueado">
            <li class="nav-item">
              <a class="nav-link" routerLink="/login" routerLinkActive="active">Iniciar Sesión</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/registro" routerLinkActive="active">Registrarse</a>
            </li>
          </ng-container>

          <!-- Si hay sesión activa -->
          <ng-template #logueado>
            <li class="nav-item">
              <a class="nav-link" (click)="cerrarSesion()" style="cursor:pointer;">Cerrar Sesión</a>
            </li>
          </ng-template>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div class="container mt-4">
  <router-outlet></router-outlet>
</div>